@font-face{
    font-family: myriadpro;
    src: url(../fonts/MyriadProRegular.eot);
}
@font-face{
    font-family: myriadpro;
    src: url(../fonts/MyriadProRegular.svg);
}
@font-face{
    font-family: myriadpro;
    src: url(../fonts/MyriadProRegular.woff);
}
@font-face{
    font-family: myriadpro;
    src: url(../fonts/MyriadProRegular.woff2);
}