html{
    width: 100%;
    height: 100%;
}
body{
    width: 95%;
    height: 95%;
    padding: 2.5%;
}
.firstbox{
    width: 95%;
    height: 95%;
    padding: 2.5%;
    background-color: #042F5F;
    border: 4px solid #2267B5;
}
.secondbox{
    width: 95%;
    height: 90%;
    background-color: #FCFCFC;
    border: 4px solid #2267B5;
    padding: 2.5%;
}
.box1{
    width: 95%;
    height: 30%;
    background-color:#304A67;
    margin-bottom: 5%;
    padding: 2.5%;
}
.box2{
    width: 100%;
    height: 50%;
    background-color:#304A67;
}
.whitebox1{
    width: 18%;
    height: 90%;
    background-color: white;
    border: 1px solid #2267B5;
    margin: 0 2%;
    float: left;
    padding: 1%;
    
    
}
.whitebox2{
    width: 18%;
    height: 90%;
    background-color: white;
    border: 1px solid #2267B5;
    margin: 0 2%;
    float: right;
    padding: 1%;
}
.whitebox3{
    width: 18%;
    height: 90%;
    background-color: white;
    border: 1px solid #2267B5;
    margin: 0 2%;
    float: right;
    padding: 1%;
}
.whitebox4{
    width: 18%;
    height: 90%;
    background-color: white;
    border: 1px solid #2267B5;
    margin: 0 2%;
    float: left;
    padding: 1%;
}
.clear{
    clear: both;
}
.bluebox1{
    width: 90%;
    height: 90%;
    background-color: #75B3F9;
    border: 1px solid #2267B5;
    margin: 0 3%;
}

.bluebox2{
    width: 90%;
    height: 90%;
    background-color: #75B3F9;
    border: 1px solid #2267B5;
    margin: 0 3%;
}
.bluebox3{
    width: 90%;
    height: 90%;
    background-color: #75B3F9;
    border: 1px solid  #2267B5;
    margin: 0 3%;
}
.bluebox4{
    width: 90%;
    height: 90%;
    background-color: #75B3F9;
    border: 1px solid #2267B5;
    margin: 0 3%;
}
.text{
    text-align: center;
    font-size: 14px;
    color: #FFFFFF;
    margin: 20%;

}
.text-box2{
    color: white;
    font-family: myriadpro;
    font-size: 51px;
    text-align: center;
    padding: 10%;
}
