html, body{
    width: 100%;
    height: 100%;
}











.parent-box{
    height: 729.49px; 
    width: 1286px;
    border: 4px solid #070068;
    background-color: #042F5F;
}
.box1{
    height: 80%;
    width: 80%;
    border: 4px solid #0071BC;
    background-color: white;
    margin: 2% auto;
}
.box2{
    height: 80%;
    width: 80%;
    border: 4px solid ##2267B5;
    background-color: #304A67;
    margin: 2% auto;
}
